<ul class="commentList">
	{{#each comments}}
		<li class="commentItem">
			<strong>{{this.author}}</strong>: {{this.content}}
		</li>
	{{/each}}
</ul>

{{#unless comments}}
	<p id="no-comments">No comments yet.</p>
{{/unless}}
