{{! General navbar used on all pages once someone is logged in }}
<div class="navbar">
	<a href="/projects">Projects</a>
	<a href="/notifications">Notifications</a>
	<a href="/profile">My Profile</a>
</div>