{{! General navbar used on all pages once someone is logged in }}
<div class="navbar">
	<a href="Projects">Projects</a>
	<a href="Notifications">Notifications</a>
	<a href="Profile">My Profile</a>
</div>