{{! General navbar used on all pages once someone is logged in }}
<div class="navbar">
  <div class="nav-left">
    <img src= "../../public/LogoB.png" alt="Logo" class="logo" />
    <span class="brand-text">GitMatches</span>
  </div>
  <div class="nav-right">
    <a href="/projects">Projects</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/profile">Profile</a>
    <a href="/logout" class="logout">Logout</a>
  </div>
</div>
