{{! Handlebars for a page solely with errors }}
<head>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<h1>{{title}}</h1>
<p>{{errorMessage}}</p>
<a href="{{redirectLink}}">{{redirectText}}</a>