{{! Handlebars for a page solely with errors }}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<h1>{{title}}</h1>
<p>{{errorMessage}}</p>
<a href="{{redirectLink}}">{{redirectText}}</a>