{{! Handlebars specifically for the landing page for new users }}
<div class="navbar">
	<div class="nav-left">
		<img src="../public/LogoB.png" class="logo" />
		<span class="brand-text">GitMatches</span>
	</div>
	<a href="/auth/login">Join or Login</a>
</div>

<header>
	<h1>GitMatches</h1>
	<div class="message-container">
		<div class="messageleft">Connecting Developers to </div>
		<div class="messageright">Open Source Projects </div>
	</div>
</header>
<div class="container">
	<div class="leftStats">
		<ol>
			<li>Stat1: Need to figure out stats and connect to db!</li>
			<li>Stat2</li>
			<li>Stat3</li>
		</ol>
	</div>
	<div class="centerInfo">
		<p>Welcome to GitMatches, your source for finding high quality, open source
			projects for you to collaborate on with other developers.</p>

	</div>
	<div class="rightStats">
		<p>Need to get active/completed project stats here</p>
	</div>
</div>
