{{! Handlebars specifically for the landing page for new users }}
<div class="navbar">
	<a href="/login">Join or Login</a>
</div>
<header>
	<h1>GitMatches</h1>
	<h2>Connecting Developers to Open Source Projects</h2>
</header>
<div class="container">
	<div class="leftStats">
		<ol>
			<li>Stat1: Need to figure out stats and connect to db!</li>
			<li>Stat2</li>
			<li>Stat3</li>
		</ol>
	</div>
	<div class="centerInfo">
		<p>Welcome to GitMatches, your source for finding high quality, open source
			projects for you to collaborate on with other developers.</p>

	</div>
	<div class="rightStats">
		<p>Need to get active/completed project stats here</p>
	</div>
</div>
<footer>
	<p>GitMatches, 2025 (need system to get current year and keep up to date? lol)</p>
</footer>