{{! Handlebars for the login page }}
<div class="navbar">
	<div class="nav-left">
		<img src="../public/LogoB.png" class="logo" />
		<span class="brand-text">GitMatches</span>
	</div>
	<a href="/">Home</a>
</div>

<h1>GitMatches</h1>
{{#if error}}
	<p class="error" id="error">{{error}}</p>
{{else}}
	<p class="error" id="error"></p>
{{/if}}
<form action="/auth/login" method="POST" id="signin-form" name="signin-form">
	<label for="username">Username:</label>
	<input type="text" id="username" name="username" />
	<label for="password">Password:</label>
	<input type="password" id="password" name="password" />
	<input type="submit" value="Login" />
</form>

<a class="centered-link" href="/auth/register">Don't have an account? Join here!</a>
<script src="/public/js/loginRegisterVal.js"></script>